ol, ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline-block;
}

// Margins
.no-margin-top, .n-m-t {
    margin-top: 0 !important;   // Important required to override nested gutter properties
}

.no-margin-bottom, .n-m-b {
    margin-bottom: 0 !important; // Important required to override nested gutter properties
}