// Colour palette for Demo theme

// {color}-p designates a primary theme colour

$white: #fff;
$black: #000;

// Grey palette
$grey-p: #f8f8f8;
$grey-1: #f7f6f4;
$grey-2: #b8b8b8;
$grey-3: #b0aba3;
$grey-4: #999999;
$grey-5: #3d444b;
$grey-6: #343434;

// Green palette
$green-p: #91C11E;
$green-1: #78a800;
$green-2: #6cae45;
$green-3: #659a41;
$green-4: #009747;
$green-5: #009746;

// Blue-green palette
$blue-green-p: #2da48a;

// Aqua palette
$aqua-1: #6bcfe2;
$aqua-2: #4ac9e3;

// Blue palette
$blue-p: #66AFE9;

// Purple-blue palette
$purple-blue-1: #1893e7;
$purple-blue-2: #6699ff;
$purple-blue-3: #2771e8;

// Red palette
$red-p: #800000;
$red-1: #ef7e6f;
$red-2: #c03030;

// Orange palette
$orange-p: #f0aa4a;
$orange-1: #ffa500;

// Yellow palette
$yellow-p: #ffff00;